language: node_js
node_js:
  - "8"
script: karma start --single-run
before_install:
  - npm install -g mocha
  - npm install
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start