language: node_js
sudo: required
node_js:
  - "8"
dist: trusty
addons:
  chrome: stable
before_install:
  - npm install -g karma-cli
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
